IndustriAR/Library/
IndustriAR/Temp/
*.apk
*.obj
IndustriAR/QCAR/somedata16
IndustriAR/Assets/Editor/Vuforia/
IndustriAR/Assets/Vuforia/
IndustriAR/Assets/StreamingAssets/Vuforia/
IndustriAR/Assets/Vuforia.meta
IndustriAR/VuforiaEditorScripts.csproj
IndustriAR/VuforiaScripts.csproj
*.cache
IndustriAR/IndustriAR.sln
IndustriAR/Assembly-CSharp.csproj
IndustriAR/.vs/IndustriAR/v16/.suo
